<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LoveLetter</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

<table class="tg">
  <tr>
    <th class="tg-yw4l">Andżelika</th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l" colspan="2">Brajan</th>
    <th class="tg-yw4l" colspan="2">Punkty</th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l">Romaniusz</th>
  </tr>
  <tr>
    <td class="tg-yw4l">Punkty</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="img/karta_test.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="img/karta_test.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="img/karta_test.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="img/karta_test.jpg" alt=""></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">Punkty</td>
  </tr>
  <tr>
    <td class="tg-yw4l"><img src="img/karta_poziomo_test.jpg" alt=""></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="img/karta_poziomo_test.jpg" alt=""></td>
  </tr>
  <tr>
    <td class="tg-yw4l"><img src="img/karta_poziomo_test.jpg" alt=""></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l" rowspan="2"><img src="img/karta_test.jpg" alt=""></td>
    <td class="tg-yw4l" colspan="3" rowspan="2">Co sie teraz dzieje</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="img/karta_poziomo_test.jpg" alt=""></td>
  </tr>
  <tr>
    <td class="tg-yw4l"><img src="img/karta_poziomo_test.jpg" alt=""></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="img/karta_poziomo_test.jpg" alt=""></td>
  </tr>
  <tr>
    <td class="tg-yw4l"><img src="img/karta_poziomo_test.jpg" alt=""></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="img/karta_poziomo_test.jpg" alt=""></td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="img/karta_test.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="img/karta_test.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="img/karta_test.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="img/karta_test.jpg" alt=""></td>
    <td class="tg-yw4l" colspan="3" rowspan="2">Podpowiedzi i instrukcje</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l" colspan="2">MOje imię</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="img/karta_test.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="img/karta_test.jpg" alt=""></td>
    <td class="tg-yw4l"></td>
  </tr>
</table>
</body>
</html>