{% extends "base.html" %}

{% block content %}
    Wybierz kartę
    <a href="/2"><img src="../static/img/karta_2.jpg" alt=""></a>
    <a href="/3"><img src="../static/img/karta_3.jpg" alt=""></a>
    <a href="/4"><img src="../static/img/karta_4.jpg" alt=""></a>
    <a href="/5"><img src="../static/img/karta_5.jpg" alt=""></a>
    <a href="/6"><img src="../static/img/karta_6.jpg" alt=""></a>
    <a href="/7"><img src="../static/img/karta_7.jpg" alt=""></a>
    <a href="/8"><img src="../static/img/karta_8.jpg" alt=""></a>
{% endblock %}