{% extends "base.html" %}

{% block content %}
    <a href="{{ current_player }}/1/{{ chosen_player }}/2"><img src="../static/img/karta_2.jpg" alt=""></a>
    <a href="{{ current_player }}/1/{{ chosen_player }}/3"><img src="../static/img/karta_3.jpg" alt=""></a>
    <a href="{{ current_player }}/1/{{ chosen_player }}/4"><img src="../static/img/karta_4.jpg" alt=""></a>
    <a href="{{ current_player }}/1/{{ chosen_player }}/5"><img src="../static/img/karta_5.jpg" alt=""></a>
    <a href="{{ current_player }}/1/{{ chosen_player }}/6"><img src="../static/img/karta_6.jpg" alt=""></a>
    <a href="{{ current_player }}/1/{{ chosen_player }}/7"><img src="../static/img/karta_7.jpg" alt=""></a>
    <a href="{{ current_player }}/1/{{ chosen_player }}/8"><img src="../static/img/karta_8.jpg" alt=""></a>
{% endblock %}