{% extends "base.html" %}

{% block content %}
    Wybierz kartę
    <a href="/play/{{ id }}/chooseplayer/{{ chosen_player }}/choosecard/2">2<img src="../static/img/karta_2.jpg" alt=""></a>
    <a href="/play/{{ id }}/chooseplayer/{{ chosen_player }}/choosecard/3">3<img src="../static/img/karta_3.jpg" alt=""></a>
    <a href="/play/{{ id }}/chooseplayer/{{ chosen_player }}/choosecard/4">4<img src="../static/img/karta_4.jpg" alt=""></a>
    <a href="/play/{{ id }}/chooseplayer/{{ chosen_player }}/choosecard/5">5<img src="../static/img/karta_5.jpg" alt=""></a>
    <a href="/play/{{ id }}/chooseplayer/{{ chosen_player }}/choosecard/6">6<img src="../static/img/karta_6.jpg" alt=""></a>
    <a href="/play/{{ id }}/chooseplayer/{{ chosen_player }}/choosecard/7">7<img src="../static/img/karta_7.jpg" alt=""></a>
    <a href="/play/{{ id }}/chooseplayer/{{ chosen_player }}/choosecard/8">8<img src="../static/img/karta_8.jpg" alt=""></a>
{% endblock %}