{% extends "base.html" %}

{% block content %}
<table class="tg">
  <tr>
    <th class="tg-yw4l">{{ player_1.username }}</th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l" colspan="2">{{ player_2.username }}</th>
    <th class="tg-yw4l" colspan="2">Punkty</th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l"></th>
    <th class="tg-yw4l">{{ player_3.username }}</th>
  </tr>
  <tr>
    <td class="tg-yw4l">Punkty</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="../static/img/karta_{{ player_2.cardplayed1 }}.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="../static/img/karta_{{ player_2.cardplayed2 }}.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="../static/img/karta_{{ player_2.cardplayed3 }}.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="../static/img/karta_{{ player_2.cardplayed4 }}.jpg" alt=""></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l">Punkty</td>
  </tr>
  <tr>
    <td class="tg-yw4l"><img src="../static/img/karta_poziomo_{{ player_1.cardplayed1 }}.jpg" alt=""></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="../static/img/karta_poziomo_b_{{ player_3.cardplayed1 }}.jpg" alt=""></td>
  </tr>
  <tr>
    <td class="tg-yw4l"><img src="../static/img/karta_poziomo_{{ player_1.cardplayed2 }}.jpg" alt=""></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l" rowspan="2"><img src="../static/img/talia.jpg" alt=""></td>
    <td class="tg-yw4l" colspan="3" rowspan="2">{{ info }}</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="../static/img/karta_poziomo_b_{{ player_3.cardplayed2 }}.jpg" alt=""></td>
  </tr>
  <tr>
    <td class="tg-yw4l"><img src="../static/img/karta_poziomo_{{ player_1.cardplayed3 }}.jpg" alt=""></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="../static/img/karta_poziomo_b_{{ player_3.cardplayed3 }}.jpg" alt=""></td>
  </tr>
  <tr>
    <td class="tg-yw4l"><img src="../static/img/karta_poziomo_{{ player_1.cardplayed4 }}.jpg" alt=""></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="../static/img/karta_poziomo_b_{{ player_3.cardplayed4 }}.jpg" alt=""></td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="../static/img/karta_{{ player_me.cardplayed1 }}.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="../static/img/karta_{{ player_me.cardplayed2 }}.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="../static/img/karta_{{ player_me.cardplayed3 }}.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="../static/img/karta_{{ player_me.cardplayed4 }}.jpg" alt=""></td>
    <td class="tg-yw4l" colspan="3" rowspan="2">{{ player_me.info }}</td>
  </tr>
  <tr>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l" colspan="2">{{ player_me.username }}</td>
    <td class="tg-yw4l"></td>
    <td class="tg-yw4l"><img src="../static/img/karta_{{ player_me.cardinhand1 }}.jpg" alt=""></td>
    <td class="tg-yw4l"><img src="../static/img/karta_{{ player_me.cardinhand2 }}.jpg" alt=""></td>
    <td class="tg-yw4l"></td>
  </tr>
</table>
{% endblock %}
