{% extends "base.html" %}

{% block content %}
    <div class="container">
    <form method="GET" action="{{ url_for('newgame')}}">

        <label for="players">Wybierz ilość graczy ludzi</label><br>
            <input type="radio" name="mode" value="1" disabled>1<br>
            <input type="radio" name="mode" value="2" disabled>2<br>
            <input type="radio" name="mode" value="3" disabled>3<br>
            <input type="radio" name="mode" value="4" required>4<br>
        <br>
        <label for="name">Podaj imiona graczy</label><br>
            <input type="text" name="name1" required><br>
            <input type="text" name="name2" required><br>
            <input type="text" name="name3" required><br>
            <input type="text" name="name4" required><br>

        <input type="submit" value="Nowa gra">
    </form>
    </div>
{% endblock %}